@model BillingSystemMVC.BLL.Model.ClientStatusDTO

@{
    ViewData["Title"] = "ClientDetails";
}

<h1>Информация за клиента</h1>
<div>
    <h4>Клиент</h4>
    <hr />
    <style>
        .client-table tr td{
            border: 1px solid black;
            text-indent: initial;
            padding: 5px;
            width: 50%;
            text-align: left;
            font-size: 100%;
            font-family: Verdana, sans-serif;
        }
        tr {
            height: 30px;
        }
        body .client-table {
            margin-top: 10px;
            margin-bottom: 10px;
            background: linear-gradient(to bottom, #99ff66 0%, #ff99cc 98%);
            
        }
    </style>

    <table class="client-table">
        <tr class="client-row">
            <td class="client-header">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td class="client-detail">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>  @Html.DisplayNameFor(model => model.Adress)</td>
            <td> @Html.DisplayFor(model => model.Adress)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ClientZone.Town)</td>
            <td>@Html.DisplayFor(model => model.ClientZone.Town)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IPAdress)</td>
            <td>@Html.DisplayFor(model => model.IPAdress)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Validity)</td>
            <td>@Html.DisplayFor(model => model.Validity)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Status)</td>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Comment)</td>
            <td>@Html.DisplayFor(model => model.Comment)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Included)</td>
            <td>@Html.DisplayFor(model => model.Included)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ClientTarif.Name)</td>
            <td>@Html.DisplayFor(model => model.ClientTarif.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IDNumber)</td>
            <td>@Html.DisplayFor(model => model.IDNumber)</td>
        </tr>
    </table>
</div>
    <div>
        @Html.ActionLink("Редактиране", "UpdateClient", "Clients", new { IDNumber = Model.IDNumber })
        |
        @using (Html.BeginForm("DeleteClient", "Clients", new { IDNumber = Model.IDNumber }))
        {
            <style>
                body input{
                    background: linear-gradient(to bottom, #99ff66 0%, #ff99cc 98%);
                    border-radius: 7px;
                }
            </style>
            <input type="submit" value="Изтрий клиента"
                   onclick="return confirm('Сигурен ли сте,че искате да изтриете клиента?');" />
        }
        <a asp-action="Index">Back to List</a>
    </div>
