@model BillingSystemMVC.BLL.Model.ClientEditDTO

@{
    ViewData["Title"] = "UpdateClient";
}

<h1>Редакция</h1>

<h4>Клиент</h4>
<hr />
<style>

    .row .col-md-4 .form-group {
        border: 1px solid;
        border-radius: 7px;
        text-indent: initial;
        padding: 10px;
        width: 95%;
        text-align: left;
        font-size: 100%;
        font-family: Verdana, sans-serif;
        margin-bottom: 0rem;

    }
    body .form-group {
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    }
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" name="Name" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" name="Adress" value="@Model.Adress" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneId" class="control-label">Зона</label>
                <select name="ZoneId">
                    @foreach (var z in Model.ChooseZonesAndTariffs.Zones)
                    {
                        <option name="ZoneId" value="@z.IDNumber">@z.Town</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" name="Comment" value="@Model.Comment" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TariffId" class="control-label">Тарифа</label>
                <select name="TariffId">
                    @foreach (var t in Model.ChooseZonesAndTariffs.Tariffs)
                    {
                        <option name="TariffId" value="@t.IDNumber">@t.Name</option>
                    }

                </select>


            </div>
            <div>
                <input type="hidden" asp-for="IDNumber" class="form-control"/>
                <span asp-validation-for="IDNumber" class="text-danger"></span>
            </div>
            <div class="btn">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
