@model BillingSystemMVC.Model.Tariff

@{
    ViewData["Title"] = "TariffDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TariffDetails</h1>

<div>
    <style>
        .tariff-table tr td {
            border: 1px solid black;
            text-indent: initial;
            padding: 5px;
            width: 50%;
            text-align: left;
            font-size: 100%;
            font-family: Verdana, sans-serif;
        }

        tr {
            height: 30px;
        }

        body .tariff-table {
            margin-top: 10px;
            margin-bottom: 10px;
            background: linear-gradient(to bottom, #99ff66 0%, #ff99cc 98%);
        }
    </style>

    <table class="tariff-table">
        <tr class="tariff-row">
            <td class="tariff-header">
                @Html.DisplayNameFor(model => model.Name)
            </td>
            <td class="tariff-detail">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.InternetSpeed)</td>
            <td>@Html.DisplayFor(model => model.InternetSpeed)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.IDNumber)</td>
            <td>@Html.DisplayFor(model => model.IDNumber)</td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Промени Тарифа", "UpdateTariff", "Tariff", new { IDNumber = Model.IDNumber }) |
    @using (Html.BeginForm("DeleteTariff", "Tariff", new { IDNumber = Model.IDNumber }))
    {
        <style>
            body input {
                background: linear-gradient(to bottom, #99ff66 0%, #ff99cc 98%);
                border-radius: 7px;
            }
        </style>
        <input type="submit" value="Изтрий Тарифа"
               onclick="return confirm('Сигурен ли сте,че искате да изтриете тарифата?');" />
    }
    <a asp-action="Index">Back to List</a>
</div>






