@model BillingSystemMVC.Model.Profile

@{
    ViewData["Title"] = "ProfileDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Детайли за профила</h1>

<div>
    <h4>Профил</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Промени профил", "UpdateProfile", "Profile", new { IDNumber = Model.IDNumber }) |
    @using (Html.BeginForm("DeleteProfile", "Profile", new { IDNumber = Model.IDNumber }))
    {
        <input type="submit" value="Изтрий профила"
               onclick="return confirm('Сигурен ли сте,че искате да изтриете профила?');" />
    }
    <a asp-action="Index">Back to List</a>
</div>
